button {
    text-transform: uppercase;
    padding: 10px;
    border-radius: 4px;
    height: fit-content;
    &.blue {
        border: 1px solid $blue;
        background: $blue;
        color: $white;
    }
}