$black: #1E2226;
$white: #fff;
$gray: #ddd;
$blue: #538DFE;

// Components
@import "../components/ui/button/button.scss";
@import "../components/ui/input/input.scss";

// Pages
@import "../pages/auth/auth.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'DM Sans', sans-serif;
}

a, a:hover {
  text-decoration: none;
}

body {
    color: $black;
}

